
.taskCard{
    background-color: cornsilk;
}

.cardBody{
    overflow: hidden;
    mask-image: linear-gradient(180deg, #000 60%, transparent);
}

.cardText{
    white-space: pre-line;
}

.checkBoxNotClickable{
    pointer-events: none;
}


.mdDelete{
    transition: fill .1s ease-in;
}
.mdDelete:hover{
    fill: red;
}